.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  .link_active {
    font-weight: bold;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  p {
    line-height: 1.25rem;
    padding-bottom: 1rem;
  }

  ul {
    display: flex;
    list-style-type: none;

    a {
      color: white;
      text-decoration: none;

      &:last-of-type {
        margin-left: 1.5rem;
      }
    }
  }
}
